html, body {
    height: 100%;
}

body {
  background: #000;
}

.p5Canvas {
  position: fixed;
  top:0;
  left: 0;
  display: block;
  z-index: -1;
}

#wrapper {
  margin-top: 100vh;
  height: 100vh;
  display: grid;
}

h1 {
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  align-self: center;
}


#cross {
  width: 30%;
  max-width: 300px;
  color: #fff;
  align-self: center;
  margin:auto
}